In [3]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('data.csv')
df.head()

,uid,friends,pages,sex,timestamp,user_photos,audios,videos,groups,likes,gifts,followers,photos
0,84,267,2564,2,1519387370,NaN,870,46,NaN,2655,NaN,20108,573
1,176,39,16,2,1462375449,NaN,41,619,NaN,124,120.0,13,251
2,177,0,536,1,1506171506,NaN,23,1,NaN,2670,25.0,27203,24
3,243,733,172,1,1523287614,NaN,554,135,NaN,397,722.0,14697,566
4,279,539,78,1,1384109611,NaN,0,245,NaN,1958,NaN,5022,1567

In [5]:
nan = df.isnull().sum()

In [6]:
nan

uid               0
friends           0
pages             0
sex               0
timestamp         0
user_photos    8357
audios            0
videos            0
groups         8350
likes             0
gifts          6482
followers         0
photos            0
dtype: int64

In [7]:
len(df)

8933